{% extends 'main/base.html' %}

{% block tittle %}
{{ title }}
{% endblock %}

{% block content %}
    <h1>Main page</h1>
    {% if tasks %}
        {% for el in tasks  %}
             <div class="alert alert-warning mt-2 d-flex justify-content-between align-items-start">
                <div>
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.content }}</p>
                </div>
                {% if user.is_authenticated %}
                    <div class="d-flex gap-2">
                        <!-- Кнопка редактирования -->
                        <a href="{% url 'update' el.id %}" title="Редактировать">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#008000" class="bi bi-pencil" viewBox="0 0 16 16">
                              <path d="M12.146.146a.5.5 0 0 1 .708 0l2.5 2.5a.5.5 0 0 1 0 .708l-10 10A.5.5 0 0 1 4.5 13H2a.5.5 0 0 1-.5-.5v-2.5a.5.5 0 0 1 .146-.354l10-10zM11.207 2L3 10.207V12h1.793L14 3.793 11.207 2z"/>
                            </svg>
                        </a>

                        <!-- Кнопка удаления -->
                        <a href="{% url 'delete' el.id %}" title="Удалить" onclick="return confirm('Are you sure?');">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ff0000" class="bi bi-trash" viewBox="0 0 16 16">
                              <path d="M5.5 5.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
                              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 1 1 0-2h3.086A1.5 1.5 0 0 1 6.5 1h3a1.5 1.5 0 0 1 1.414 1H14.5a1 1 0 0 1 1 1zM5.118 4 5 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L10.882 4H5.118zM6.5 2a.5.5 0 0 0-.5.5V3h5v-.5a.5.5 0 0 0-.5-.5h-4z"/>
                            </svg>
                        </a>
                    </div>
                {% else %}
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>Nothing here</p>
    {% endif %}
{% endblock %}